{% extends "__base1__.html" %}
{% block content %}

<div id="after_submit"></div>
<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
  <div>
    <label class="required" for="name">Twoje imię:</label><br />
    <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
    <span id="name_validation" class="error_message"></span>
  </div>
  <div>
    <label class="required" for="email">Adres email:</label><br />
    <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
    <span id="email_validation" class="error_message"></span>
  </div>
  <div>
    <label class="required" for="message">Twoja wiadomość:</label><br />
    <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
    <span id="message_validation" class="error_message"></span>
  </div>
    
    <input id="submit_button" type="submit" value="Send email" />
</form>

                    <div class="col">
                        <h3 class="mb-4">Lorem ipsum dolor</h3>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-0 rounded-0" placeholder=""
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="input-group-text btn-color border-0 rounded-0" type="submit" id="basic-addon2"><a
                                        href="/">Strona Główna</a></button>
                            </div>
                        </div>
                        <div class="container d-flex-row">
                            <a href="#">
                                <i class="fab fa-facebook-square mr-4 icon-social"></i>
                            </a> 
                            <a href="#">
                                <i class="fab fa-twitter-square mr-4 icon-social"></i>
                                
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram icon-social"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}